body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar-cell {
  width: 50px;
  vertical-align: top;
  text-align: left;
  padding: 5px;
}

.calendar-date-container {
  position: relative;
  display: inline-block;
}

.calendar-date-container .calendar-date {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 10%;
  margin-left: 20px;
  background-color: white;
  padding: 5px;
}

.calendar-date-container:hover .calendar-date {
  visibility: visible;
  opacity: 1
}

.reservations {
  float: right;
}

.reservation-text {
  float: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}